# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln

# misc
/.sass-cache
npm-debug.log
lerna-debug.log
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db

